vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_textextensions:SW|.txt.
vti_defaultlanguage:SR|en-us
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|windows-1252
vti_navbuttonuplabel:SR|Up
vti_htmlextensions:SW|.htm.html.asp.aspx.shtml.stm.htt.htx.alx.asa.hta.htc.jsp.cfm.odc.phtml.php.php2.php3.php4.php5.dwt.
vti_disableautoimgsizeexts:SX|.asp
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Back
vti_navbuttonnextlabel:SR|Next
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_navbuttonhomelabel:SR|Home
vti_dependenciesood:IR|0
